body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  #square {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 50px;
    left: 0;
  }